*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --vertBleu : #B1F0EB;
    --vert:#48C9B0;
    --vertDark : #005662;
    --vertCard: #A9EFE3;
    --blackGreen:#032a30;
    --darkGreen: #04292e;
    --vertLight :#BDF7F2;
}

@font-face {
    font-family: 'menuFont';
    src:  url('fonts/ShortStack-Regular.ttf')     
}

@font-face {
    font-family: 'descripFont';
    src:  url('fonts/OoohBaby-Regular.ttf')     
}

@font-face {
    font-family: 'jobFont';
    src:  url('fonts/SpecialElite-Regular.ttf')     
}

@font-face {
    font-family: 'namesFont';
    src:  url('fonts/DancingScript-VariableFont_wght.ttf')     
}
@font-face {
    font-family: 'qualityFont';
    src:  url('fonts/Hubballi-Regular.ttf')     
}

@font-face {
    font-family: 'titleFont';
    src:  url('fonts/Yomogi-Regular.ttf')     
}

@font-face {
    font-family: 'texte';
    src:  url('fonts/Quicksand-VariableFont_wght.ttf')     
}

body{
    font-family: texte, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/********* début navbar ************/
.navbar{
    z-index: 2000;
    position: relative;
}

.navbar .navList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'menuFont';
    background-color: rgb(0, 86, 98,0.6);
    border-bottom: #fff 2px solid;
}

.toggleIcon{
    justify-content: flex-end;
}

.navbar .toggleIcon {
    display: none;
}

.navbar .navList {
    height: 60px;
    justify-content: center;
    align-items: center;
}

.navbar ul .navLink a{
    padding: 1rem;
    color: #fff;
    font-weight: 800;
}

.navbar ul .navLink:hover a {
    color: var(--vertLight);
    font-weight: bold;
}

.navbar .toggleIcon li a {
    color: #fff;
}

.cv{
    background-color: var(--vertDark);
    padding: 10px;
    border-radius: 30px;
}

/** fin navbar *****/

@media (max-width:1030px) {
    .navbar .navList{
        height: 80px;
    }
}

/*** début responsive navbar **/
@media (max-width:700px) {

    .navbar ul .navLink a{
        font-size: 17px;
    }
   
    .navbar ul .navLink a:hover {
        background: none;
    }
    
    .navbar .toggleIcon {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        background-color: var(--vertDark);
    }
    
    .navbar .navList{
        display: none;
    }

    .navbar .navLink{
        width: 100%;
        text-align: center;
        
    }
    .navbar .navList .navLink{
        background-color: var(--vertDark);
        padding: 15px;
        height: 50px;
        align-items: center;
    }
    
    /* js change propriété */
    .navbar .active{
        display: block;
        height: 40%;
    }
    .cv{
        border-radius: 0;
    }
}

/*********fin navbar responsive ************/
/************ début A propros de moi ***********/

.aboutMe{
    background-image: url(/img/flowers-g397c6e6aa_1920.jpg);
    background-size: cover;
}
.portrait{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

@media (max-width:1010px) {
    .portrait{
        margin-top: 5vh;
    }
}

@media (min-width:1010px) {
    .portrait{
        height: 90vh;
    }
}

.persoImg{
    width: 300px;
    border-radius:  50% ;
    border: 8px solid var(--vertDark);
}

.navIcon ul{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    align-items: center;
}

.navIcon ul li a {
    font-size: 65px ;
    color:var(--vertDark)
}

.navIcon ul li a:hover{
    color: var(--vert)
}

.names{
    font-size: 60px;
    font-family: 'namesFont';
    font-weight : normal;
    color: var(--vertDark);
    position: relative;
}

.infos{
    padding: 20px;
    border-top-right-radius: 40px;
}

.descrip, .job, .quality, .names{
  text-align: center;
}

.job{
    font-family: "jobFont";
    font-size: 28px;
    font-weight: normal;
   color: var(--darkGreen);
}

.quality{
    font-family: "titleFont";
    font-size: 20px;
}

.descrip{
    font-family: 'menuFont';
    font-size: 18px;
    padding-top: 20px;
}

.descrip b {
    color: var(--vert);
    text-decoration: underline;
    text-decoration-color: black;
}

/************ fin A propros de moi ***********/
/************ début mes compétences ***********/

@media (max-width:675px) {
   .grid{
       display: flex;
       justify-content: center;
       flex-basis: 50%;
   } 

   .dip-col2, .dip-col1{
      grid-template-columns: repeat(auto-fill, 80%) ;
   }  
}

/** debut test new style **/

.title-skills{
    background-color: var(--vertDark);
}

.skills{
    background-color: var(--vertDark);
}

.techno-skills{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
    align-items: center;
}

.skills-1{
    padding: 40px;
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.skills-2{
    height: auto;
    width: auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
}

.skills .group{
    display: flex;
}

.skills-2 .framework{
    height: 100px;
    width: 150px;
    background-color: aliceblue;
    box-shadow: 0.5px 1px 3px 0.5px rgba(0, 0, 0, 0.603);
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.progress{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0.5px 1px 3px 0.5px rgba(0, 0, 0, 0.603);
}

.progress div.fill{
    width: 10%;
    height: 100%;
    background-color: var(--vert);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.9s;
}

.progress span.text{
    position: absolute;
    right: 5px;
    top:5%;
    transform: translate(-50%);
}

.skills-1 .title{
    font-weight: bold;
    text-align: left;
    align-self: flex-start;
    position: relative;
    top:10px;
    color:aliceblue;   
}

.framework img{
    width: 50px;
    height: 50px;
    align-items: center;
}

.framework h5{
    font-family: "menuFont";
    padding: 5px;
    padding-bottom: 0px;
}


.techno-skills h2{
    text-align: center;
    color:var(--vertLight);   
}

.all-tools h2{
    text-align: center;
    padding: 10px;
    color:var(--vertLight);   
}

.all-tools{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

.skills-tools .groupe{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.tools h5, .tools-php h5{
    font-family: menuFont;
}

.tools, .tools-php {
    background-color: aliceblue;
    /* box-shadow: 0.2px 0.2px 1px 0.2px rgba(0, 0, 0, 0.603); */
    width: 150px;
    height: auto;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0.5px 1px 3px 0.5px rgba(0, 0, 0, 0.603);
}


.skills-tools .tools img{
    width: 50px;
    height: 50px;
}

.tools-php img{
    width: 70px;
    height: 50px;
}

.lang h3{
    color:aliceblue;
    text-align: left;
    font-family: menuFont;
    font-weight: normal;
}

.lang p{
    color:var(--vert);
    text-align: left; 
}

.lang{
    margin: 10px;
}

/* fin test new style*/

.skills h1, .exp-pro h1, .realisations h1, .diplomes h1{
    text-align: center;
    padding: 20px;
    font-family: titleFont;
    font-weight: 800;
    font-size: calc(30px + 2vh);
}

.skills h1{
    color:#fff;
}

.exp-pro h1, .diplomes h1{
    color:var(--darkGreen);
}

/************ fin compétences *************/
/********** debut experience********/
.exp-pro{
    background-color: rgba(4, 230, 238, 0.3);
}

.all-exp{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.all-exp h2{
    padding-bottom: 10px;
    text-align: left;
    font-size: 17px;
    font-family: menuFont;
}

.all-exp a{
    color: var(--vert);
    font-weight: bold;
}

.all-exp a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.all-exp p {
    font-family: titleFont;
    font-weight: bold;
}

.exp-pro .exp{
    border-radius: 10px ;
    margin: 10px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    text-align: justify;
    padding: 20px;
    box-shadow: 2px 1px 0.5px 0.5px rgba(0, 0, 0, 0.603);
}

.exp-list{
    padding: 20px;
    font-size: 15px;
}

.exp.exp1{
    margin-top: 20px;
}

.exp.exp2{
    margin-bottom: 20px;
}

.exp-list li{
    font-family: texte;
}

.exp h3{
    color: var(--vertDark);
    font-size: 15px;
}

.exp h3 span{
  text-decoration: underline;
}

.exp-list span{
    font-weight: bold;
    text-decoration: underline;
}

.exp-list b{
    color: var(--vert);
}

/**************fin experience*********************/
/**************debut réalisation*********************/

.realisations{
    /* background-color: rgb(240, 255, 255);  */
    background-color: var(--vertDark);
}
.all-creations {
    display: flex;
    flex-direction: column;
}

.myfastfood{
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgba(16, 112, 129, 0.8);
    border-radius: 10px;
}

.food-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.realisations h1{
    color: rgb(240, 255, 255);
}

.myfastfood h2{
    padding: 5px;
    color: #fff;
    font-family: menuFont;
    font-size: 17px;
    text-align: center;
}

.food-app, .action-app{
    width: 300px;
}

.food-video, .shop-project {
    width: 450px;
}

.food-video, .food-app, .shop-project, .action-app{
    background-color: #fff;
    border-radius: 10px;
    height: auto;
    box-shadow: 0.2px 0.2px 1px 0.2px rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    margin-top: 20px;
}

.food-video video, .shop-project video{
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0.5px 1px 3px 0.5px rgba(0, 0, 0, 0.603);
}

.food-app .logo-techno img, .myfastfood .logo-techno img, .action-app .logo-techno img, .descrip-food img, .logo-shop img{
    width: 50px;
    height: 50px;
    align-self: center;
}

.apk-img{
    width: 200px;
    height: auto;
    box-shadow: 0.5px 1px 3px 0.5px rgba(0, 0, 0, 0.603);
    border-radius: 5px;
}

.descrip-food{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.descrip-food p, .descrip-video p, .shop-project p, .action-app p{
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.descrip-food a, .action-app a{
  font-family: menuFont;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--vert);
  padding: 10px;
  border-radius: 5px;
  color:  black;
  margin-bottom: 10px;
}

.logo-techno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.action-app h2, .shop-project h2{
    font-size: 15px;
    font-family: menuFont;
    text-align: center;
    padding: 15px;
    padding-top: 0;
}

.descrip-food a{
    align-self: center;
}

.others-projects{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/******************realisation fin ************************/
/******************début diplomes *************************/

@media (max-width:1086px) {
    .others-projects{
        justify-content: center;
    }
}

@media (min-width:675px) {
    .dip-col2, .dip-col1{
        grid-template-columns: repeat(auto-fill, 45%) ;
    }
}

.diplomes{
    background-color: var(--vert);
    padding-bottom: 20px;
}

.dip{
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.dip-col2, .dip-col1{
    display: grid;
    justify-content: center;
}

.dip p.title{
    font-weight: bold;
    font-size: 19px;
    color: var(--vertDark);
    font-family: menuFont
}

.dip i{
    color: var(--vert);
}

.dip p.lieu{
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}

/*************fin diplomes *****************/
/******************début Loisirs *************************/
.loisirs{
   height: auto;
   background-color: var(--vert);
}

.loisirs h2{
    margin-left: 5%;
    font-family: "titleFont";
    color: var(--blackGreen);
    font-size: 28px;
}

.loisirs p{
    text-align: center;
    padding: 20px;
    font-family: menuFont;
    font-size: 17px;
    color: snow;
}
.loisirs i{
    color: var(--vert);
    font-size: 20px;
}

footer{
  padding: 30px;
  text-align: center;
  color: var(--vertDark);
}

/****************** fin Loisirs *************************/
/****************** début responsives values *************************/
@media only screen and (max-width:740px) {
    .myfastfood{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width:1114px) {
    .food-project{
        justify-content: center;
    }
}

@media only screen and (max-width:550px){
    .myfastfood{
        margin-left: 30px;
        margin-right: 30px;
    }
    .shop-project video, .food-project video{
       width: 350px;
    }
    .shop-project, .food-video{
        width: 400px;
    }
}


/*** mode  paysage ecran pc ***/

@media only screen and (max-width:414px) {
  .persoImg{
      width: 240px;
  }
}

@media only screen and (max-width:414px) and (min-width:321px) {
    /**** debut a propros de moi ****/
    .navIcon ul li a {
        font-size: 19vw ;
    }

    .aboutMe{
        padding-bottom: 2vh;
    }

    .names{
        padding-bottom: 10px;
        font-size: 55px;
    }

    .quality{
        font-size: 18px;
    }

    .job{
        font-size: 28px;
    }

    .descrip, .descrip b {
        font-size: 17px;
    }
    /**** fin a propros de moi****/
  
    /**** début réalisations ****/

    .all-videos{
        padding: 20px;
        padding-bottom: 0px;
    }

    .all-videos video, .boutique video{
        width: 100%;
        height: auto;
    }

    .all-videos .mobile{
        height: 300px;
    }

    .all-videos .web{
        height: 100%;
    }
    .realisations h2{
        font-size: 20px;
    }    
    /**** fin réalisations ****/
}

/*** iphone SE/5 */
@media only screen and (max-width:320px) and (min-width:281px) { 

    /*** A propos de moi **/
    .names{
        font-size: 8vh;
    }
    .job{
        font-size: 3.5vh;
    }
    .quality{
        font-size: 2.8vh;
    }

    .descrip, .descrip b, .dip p, .loisirs p, .realisations p, .exp-list li, .content-lang p{
        font-size: 2.5vh;
    }
    .navIcon ul li a {
        font-size: 18vw ;
    }

    /*** fin A propos de moi ***/
    /*** début compétences **/

    .group .framework{
        width: 125px;
        height: auto;
        padding: 10px;
    }
    .group .framework img{
        width: 40px;
        height: 40px;
    }

    .framework h5{
        font-size: 12px;
        text-align: center;
    }
    /*** fin compétences  **/
    /*** début expérience **/

    .exp h3{
        font-size: 3vh;
        text-align: left;
    }

    /*** fin expérience **/
    /*** début réalisations **/

    .realisations h2, .dip p.title, .all-exp h2, .all-exp a{
        font-size: 2.8vh;
    }

    .all-exp h3{
        font-size: 2.6vh;
    }
    .realisations p, .all-exp p, .all-exp li{
        font-size: 2.5vh;
    }
  
    .all-videos video, .boutique video{
        margin-bottom: 20px;
        border-radius: 10px;
        width: 250px;
        height: auto;
    }
    /*** fin réalisations **/
}

/**** les plus petites tailles d'écrans galaxy fold *****/
@media only screen and (max-width:280px) {

    /*** A propos de moi **/
    .names{
        font-size: 6vh;
    }

    .persoImg{
        width: 200px;
    }

    .job{
        font-size: 3.5vh;
    }
    .quality{
        font-size: 2.5vh;
    }

    .descrip, .descrip b, .dip p, .loisirs p, .realisations p, .exp-list li, .content-lang p{
        font-size: 2.1vh;
    }
    .navIcon ul li a {
        font-size: 22vw ;
    }

    /*** fin A propos de moi ***/
    /*** début compétences **/

    .skills h1, .exp-pro h1, .realisations h1, .diplomes h1{
        font-size: calc(12px + 2vh);
    } 

    .group .framework{
        width: 110px;
        height: auto;
        padding: 10px;
    }
    .group .framework img{
        width: 40px;
        height: 40px;
    }

    .framework h5{
        font-size: 12px;
        text-align: center;
    }

    /*** fin compétences  **/
    /*** début expérience **/

    .exp h3{
        font-size: 2.1vh;
        text-align: left;
    }
   
    .all-exp h2, .all-exp a{
        font-size: 2.3vh;
    }

    /*** fin expérience **/
    /*** début réalisations **/

    .realisations h2, .dip p.title{
        font-size: 2.2vh;
    }

    .all-videos video, .boutique video{
        margin-bottom: 20px;
        border-radius: 10px;
        width: 250px;
        height: auto;
    }
    /*** fin réalisations **/
}

/****************** fin responsives values *************************/