

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



:root{
    --roseRock : #ba6b6c;
    --roseLight : #ffcccb;
    --rose : #ef9a9a;
    --roseDark :#873e41;
    --bordeau : #560027;
    --blue : #4f83cc;
    --vertDark : #005662;
    --blueLight: #cad8f7;
    --orange: #FF5733;
    --vertBleu : #A9EFE3;
    --vert:#48C9B0;
    /* --vertCard:  rgb(0, 86, 98,0.6); */
    --vertCard: #A9EFE3;

}

@font-face {
    font-family: 'menuFont';
    src:  url('fonts/ShortStack-Regular.ttf')     
}
@font-face {
    font-family: 'descripFont';
    src:  url('fonts/OoohBaby-Regular.ttf')     
}

@font-face {
    font-family: 'jobFont';
    src:  url('fonts/ZenLoop-Regular.ttf')     
}

@font-face {
    font-family: 'namesFont';
    src:  url('fonts/GloriaHallelujah-Regular.ttf')     
}

@font-face {
    font-family: 'titleFont';
    src:  url('fonts/Yomogi-Regular.ttf')     
}

@font-face {
    font-family: 'texte';
    src:  url('fonts/Quicksand-VariableFont_wght.ttf')     
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/********* début navbar responsive************/

.navbar{
    z-index: 2000;
    position: relative;
}

.navbar .navList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'menuFont';
    background-color: rgb(0, 86, 98,0.6);
    border-bottom: #fff 2px solid;
}

.toggleIcon{
    justify-content: flex-end;
}

.navbar .toggleIcon {
    display: none;
}

.navbar .navList {
    height: 60px;
    justify-content: center;
    align-items: center;
}

.navbar ul .navLink a{
    padding: 1rem;
    color: #fff;
    font-weight: 800;
}

.navbar ul .navLink:hover a {
    color: var(--vertBleu);
    font-weight: bold;
}

.navbar .toggleIcon li a {
    color: #fff;
}

.cv{
    background-color: var(--vertDark);
    padding: 10px;
    border-radius: 30px;
}


@media (max-width:700px) {

    .navbar ul .navLink a{
        font-size: 17px;
    }
   
    .navbar ul .navLink a:hover {
        background: none;
    }
    
    .navbar .toggleIcon {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        background-color: var(--vertDark);
    }
    
    .navbar .navList{
        display: none;
    }

    .navbar .navLink{
        width: 100%;
        text-align: center;
        
    }
    .navbar .navList .navLink{
        background-color: var(--vertDark);
        padding: 15px;
        height: 50px;
        align-items: center;
    }
    
    /* js change propriété */
    .navbar .active{
        display: block;
        height: 40%;
    }
    .cv{
        border-radius: 0;
    }
}

/*********fin navbar responsive ************/

/************ début A propros de moi ***********/

.aboutMe{
    background-image: url(/img/flowers-g397c6e6aa_1920.jpg);
    background-size: cover;
}
.portrait{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:943px) {
    .portrait{
        margin-top: 10vh;
    }
}

.persoImg{
    width: 350px;
    height: 350px;
    border-radius:  300px  300px 15px  300px ;
    /* border-radius: 50% ; */
    border: 8px solid var(--vertDark);
    align-items: center;
}

.navIcon ul{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    align-items: center;
}

.navIcon ul li a {
    font-size: 16vh ;
    color:var(--vertDark)
}

.navIcon ul li a:hover{
    color: var(--vert)
}

.names{
    font-size: 60px;
    font-family: 'namesFont';
    font-weight : normal;
    color: var(--vertDark);
    position: relative;
    top:20px
}

.infos{
    padding: 20px;
    border-top-right-radius: 40px;
}

.descrip, .job, .quality, .names{
  text-align: center;
}

.job{
    font-family: "jobFont";
    font-size: 50px;
    font-weight: normal;
}

.quality{
    font-family: "titleFont";
    font-size: 4vh;
}
.descrip{
    font-family: 'menuFont';
    font-size: 18px;
    padding-top: 20px;
}

.descrip b {
    color: var(--vert);
    text-decoration: underline;
    text-decoration-color: black;
}

/* @media (max-width:510px) {
    .divIMG{
        position: relative;
    }
    .infos{
        padding: 10px;
    }
    .persoImg{
        width: 280px;
        height: 280px;
    }
    .infos .names{
        position: relative;
        top:10px
    }
    .portrait h1{
        font-size: 9.5vh;
    }
    .portrait h2{
        font-size: 8vh;
    }
    .portrait h3{
        font-size: 3.5vh;
    }
    .portrait .descrip{
        font-size: 3vh;
    }
    .navIcon ul li a{
        font-size: 15vh;
    }
} */
/************ fin A propros de moi ***********/

/************ début mes compétences ***********/

.skills-grid, .content-lang{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

.skills h1, .exp-pro h1, .realisations h1, .diplomes h1{
    text-align: center;
    padding: 20px;
    font-family: titleFont;
    color:#fff;
    font-weight: 800;
    font-size: calc(30px + 2vh);
}

.skills{
    background-color: var(--vertDark);
}

.techno-skills, .tools-skills, .framework-skills{
    background-color: #fff;
}

.techno-skills h2, .tools-skills h2, .framework-skills h2, .langs-skills h2{
    font-family: titleFont;
    margin-left: 5%;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 30px;
}

.langs-skills{
    background-color: var(--vertBleu);
}

.content-lang h3{
    text-transform: uppercase;
}

.content-lang p{
    font-family: descripFont;
    font-size: 25px;
    font-weight: bold;
}

.grid, .action-true {
	position: relative;
	margin:auto;
	list-style: none;
}

/* position du texte par rapport à l'image */
.grid figure figcaption,
.grid figure figcaption, .realisations figure figcaption {
	position: absolute;
	top: 0;
	max-width: 80%;
	max-height: 100%;
    width: 80%;
    height: 100%; 
}

.tools-skills figure img, .framework-skills figure img, .techno-skills figure img{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.skills figure img{
    max-width: 130px;
    max-height: 130px;
    width: 130px;
    height: 130px;
}

.tools-skills figure:hover img, .framework-skills figure:hover img , .techno-skills figure:hover img, .realisations figure:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 10%;
}

.realisations figure img{
    width: 250px;
    border-radius: 10px;
}

.tools-skills figure h5, .framework-skills figure h5, .techno-skills figure h5, .realisations figure h5  {
    position: relative;
	opacity: 0;
    background-color: var(--vertDark);
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    color:#fff;
    text-align: center;
}

.tools-skills figure:hover h5, .framework-skills figure:hover h5, .techno-skills figure:hover h5, .realisations figure:hover h5{
	opacity: 1;	
    position: relative;
    top: 50%;
    transform: perspective(50px) translateY(-50%);
}

.techno-skills figure:hover h5{
    font-size: 30px;
}
.framework-skills figure:hover h5, .tools-skills figure:hover h5, .action-true figure:hover h5{
    font-size: 20px;
}

.realisations a{
    color:#fff;
}

/************ fin compétences *************/
/********** debut experience********/
.exp-pro{
    background-color: var(--vertDark);
    display: grid;
}

.all-exp{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.exp-pro .exp{
    /* border:5px solid var(--vertDark); */
    border-radius: 15px ;
    margin: 10px;
    width: 70%;
    background-color: #fff;
    text-align: justify;
    padding: 20px;
}

.exp-list{
    padding: 20px;
}

.all-exp{
    background-color: var(--vertCard);
}

.exp-list li{
    font-family: menuFont;
}


/**************fin experience*********************/
/**************debut réalisation*********************/

.realisations{
    display: grid;
}

.realisations .title{
    background-color: var(--vertDark);
}

.realisations .myfastfood{
    text-align: center;
}

.all-videos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.all-videos video{
    margin-bottom: 20px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}

/******************realisation fin ************************/

/******************début diplomes *************************/

.diplomes{
    background-color: var(--vertDark);
    padding-bottom: 20px;
}
.dip-col2, .dip-col1{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 45%) ;
    grid-auto-flow: column;
}

.dip{
    border:1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}
/*************fin diplomes *****************/




